.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: n one;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

.searchField {
  width: 100%;
  background-color: #c7c8c8;
  padding: 10px;
  border: none;
  border-radius: 10px 10px 10px 10px;
  margin-right: 24px;
}

.searchButton {
  background-color: rgb(94, 93, 93);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

form {
  display: flex;
}
.stock {
  background-color: white;
  height: 2vh;
  border-radius: 12px;
  padding: 10px;
  margin-top: 2vw !important;
  margin-left: 12px !important;
  width: 15vw !important;
  height: 8vh;
}

.label {
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 1.1rem;
  padding: 15px;
}

.value {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}

.positive {
  background-color: #21ce99;
  border-radius: 5px;
  width: fit-content;
  padding: 5px !important;
}

.negative {
  background-color: #c87171;
  border-radius: 5px;
  width: fit-content;
  padding: 5px !important;
}
