.cont {
  background-color: #ffffff;
  height: 100vh;
  color: black;
}

.col {
  padding: 0;
}

.col-sidebar {
  height: 100vh;
  background-color: #f4f7f9;
  border-right: 1px solid #dee2e5;
}

.col-search {
  height: 100vh;
  background-color: #f4f7f9;
}

.search-bar {
  background-color: #dee2e5;
  height: 8vh;
  margin: 0;
}

.row-stock {
  margin-left: 2vw;
}

.row-price {
  padding-right: 3vw;
}
