.row-no-padding {
  margin: 0px;
  padding: 0px;
  margin-bottom: 24px;
}

.row-search {
  margin: 24px 12px;
}

.value {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
}
